@media screen and (min-width: 1240px) {
  /* Flickity Styling */
  .carousel-cell {
    width: 25%;
  }

  .updates {
    background-size: 100%;
  }

  /* Nav */

  .main-menu ul {
    justify-content: space-around;
  }

  /* Hero Banner */

  .hero-banner {
    height: 600px;
    background-size: 100%, contain, 75%;
    background-position-y: 0px, 40px, 0px;
    background-repeat: no-repeat, no-repeat, repeat;
  }

  /* Shop Grid */

  .bags {
    background-position: bottom;
  }

  /* Footer */

  .footer-information {
    padding-left: 50px;
  }

  .social-media li {
    padding-right: 100px;
  }
}
